body{
    background-image: url(img/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1.Título{
    color: rgb(0, 0, 0);
    border: 3px rgb(0, 0, 0) dotted;
    text-align: center;
    font: italic bold 100px ;
    
}